body {
    background-color: #ecf9f2; 
}
h1 {
    color: #339933; 
    text-align: center; 
}

h3 {
    color: #339933; 
}

table, th, td {   
    border: 1px solid black; 
}

.byMe {
    text-align: right; 
}

.profilePicture {
    height: 200px;
    width: 200px;
}
